<ul class="socials">
	<li class="socials__item">
		<a href="#" class="socials__link" target="_blank" rel="nofollow">
			<i class="socials__link--ic">
				{% include '../../../img/icons/svg/socials/fb.svg' %}
			</i>
		</a>
	</li>
	<li class="socials__item">
		<a href="#" class="socials__link" target="_blank" rel="nofollow">
			<i class="socials__link--ic">
				{% include '../../../img/icons/svg/socials/tw.svg' %}
			</i>
		</a>
	</li>
	<li class="socials__item">
		<a href="#" class="socials__link" target="_blank" rel="nofollow">
			<i class="socials__link--ic">
				{% include '../../../img/icons/svg/socials/inst.svg' %}
			</i>
		</a>
	</li>
	<li class="socials__item">
		<a href="#" class="socials__link" target="_blank" rel="nofollow">
			<i class="socials__link--ic">
				{% include '../../../img/icons/svg/socials/vk.svg' %}
			</i>
		</a>
	</li>
	<li class="socials__item">
		<a href="#" class="socials__link" target="_blank" rel="nofollow">
			<i class="socials__link--ic">
				{% include '../../../img/icons/svg/socials/viber.svg' %}
			</i>
		</a>
	</li>
	<li class="socials__item">
		<a href="#" class="socials__link" target="_blank" rel="nofollow">
			<i class="socials__link--ic">
				{% include '../../../img/icons/svg/socials/tg.svg' %}
			</i>
		</a>
	</li>
</ul>