.logo
	display flex
	align-items center
	justify-content flex-start
	font-size 16px 
	font-semibold()
	color $basic-white-color
	&:hover
		opacity .75
	img
		display block
		max-width 66px
		flex none
		margin-right 30px
		
	&-block-title
		display flex
		align-items center
		justify-content flex-start
		font-size 36px
		font-bold()
		color $basic-black-color
		line-height 1
		margin-bottom 45px
		img
			display block
			flex none
			max-width 42px
			margin-right 25px