//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('Inter-Thin', 'Inter', 'Inter-Thin',  normal, normal)
webfont('Inter-Light', 'Inter', 'Inter-Light',  normal, normal)
webfont('Inter-ExtraLight', 'Inter', 'Inter-ExtraLight',  normal, normal)
webfont('Inter-Regular', 'Inter', 'Inter-Regular',  normal, normal)
webfont('Inter-Medium', 'Inter', 'Inter-Medium',  normal, normal)
webfont('Inter-SemiBold', 'Inter', 'Inter-SemiBold',  normal, normal)
webfont('Inter-Bold', 'Inter', 'Inter-Bold',  normal, normal)
webfont('Inter-ExtraBold', 'Inter', 'Inter-ExtraBold',  normal, normal)
webfont('Inter-Black', 'Inter', 'Inter-Black',  normal, normal)

