.sect__promo
	min-height 1000px
	padding 150px 0
	display flex
	align-items center
	background-color #d3d3d3
	position relative
	.container
		position relative
		z-index 5
	&:after
		pseudo()
		position absolute
		bottom -2px
		z-index 3
		left 0
		width 100%
		height 200px
		background url('../img/decor/promo-wave.svg') 50% 50% no-repeat / cover
	
		


.title
	color $basic-white-color
	margin-bottom 70px
	&-top,
	&-bottom
		display block
		
	&-top
		position relative
		padding-left 50px
		font-size 39px
		white-space nowrap
		font-bold()
		&:before
			pseudo()
			position absolute
			vertical-center()
			left 0
			width 36px
			height 37px
			background url('../img/icons/svg/fire.svg') 50% 50% no-repeat / contain
	&-bottom
		text-transform uppercase
		font-size 105px 
		font-black()
		text-shadow 0px 5px 20px rgba(0, 0, 0, 0.25)
		
	&-accent
		display inline-block
		padding 10px
		background-color #3D6EEB
		border-radius 6px
		margin-left 20px
		font-bold()
		
	


.promo-block
	position relative
	z-index 3
	&__text
		color rgba(255, 255, 255, 0.8)
		font-size 19px
		line-height 41px
		margin-bottom 15px
		

.promo-img
	position absolute
	right 0
	top 0
	z-index 4
	max-width 1080px
	
.picture
	display block
	width 100%
	height 100%
	

//About

.sect__about
	padding 190px 0 300px
	
	.sect-content-block
		padding-left 0
		max-width 440px
.about-us
	position relative

		
	&__content
		&-text
			position relativez
			z-index 1
		
		
	&__img
		position absolute
		left 0
		vertical-center()
		width 575px

		border-radius 25px
		box-shadow 23.3863px 20.7878px 62.3634px rgba(43, 62, 133, 0.32)
		&:before,
		&:after
			pseudo()
			position absolute
			z-index -1
		&:before
			top 10px
			height 458px
			width 181px
			background url('../img/shadow-right.svg') 50% 50% no-repeat / cover
			left 100%
			margin-left -50px
		&:after
			top 100%
			left 0
			width 448px
			height 152px
			background url('../img/shadow-bottom.svg') 50% 50% no-repeat / cover
			margin-top -50px
			
			

		img
			display block
			width 100%
			
			
			
// Sect chat
.sect__chat
	position relative
	padding-bottom 115px

.get-closer__row
	.sect-content-block
		margin-right 25px
.chat-card-img
	position relative
	max-width 350px
	.ic
		position absolute
		right 60px
		top -30px
		z-index 1
		width 55px
		height 55px
		background-position 50% 50%
		border-radius 62.8364px 62.8364px 62.8364px 6.98182px
	img
		display block
		box-shadow 0px 8px 30px rgba(87, 101, 173, 0.24)
		border-radius 8px


.chat-phrases
	padding-bottom 20px
		
.chat-phrase
	display flex
	align-items flex-start
	justify-content flex-start
	font-size 16px
	font-reg()
	line-height 20px
	margin-bottom 25px
	&:last-child
		margin-bottom 0
	&__text
		padding 20px
		border-radius 8px
		flex 1
		background rgba(255, 255, 255, 0.79)
		background -webkit-linear-gradient(334deg, #FFFFFF 4.54%, rgba(255, 255, 255, 0.79) 95.6%)
		background -o-linear-gradient(334deg, #FFFFFF 4.54%, rgba(255, 255, 255, 0.79) 95.6%)
		background linear-gradient(64deg, #FFFFFF 4.54%, rgba(255, 255, 255, 0.79) 95.6%)
		box-shadow 0px 10px 30px rgba($basic-black-color, 0.3)
		max-width 250px
		
	&__avatar
		flex none
		border-radius 11px
		border 2px solid $basic-white-color
		width 35px
		height 35px
		margin-right 8px
	&:nth-child(odd)
		padding-right 120px
		color $basic-black-color
		text-align left
		
	&:nth-child(even)
		padding-left 120px
		color $basic-white-color
		text-align right
		
		.chat-phrase
			&__avatar
				order 2
				margin-right 0
				margin-left 8px
			&__text
				order 1
				background #5071E6
				background -webkit-linear-gradient(#5071E6 0%, #5068E9 100%)
				background -o-linear-gradient(#5071E6 0%, #5068E9 100%)
				background linear-gradient(#5071E6 0%, #5068E9 100%)
				box-shadow 0px 4px 36px rgba(49, 71, 185, 0.45)
				

.sect__chat
	
	.icons-blocks__row
		margin 55px -15px 140px -15px
		




// Joins as fan
.sect__join-as-fan
	padding-bottom 100px

		
.sect-content__row
	margin-bottom 100px
	position relative
	.sect-content-block
		position static
		max-width 540px
			
.sect-content__img
	position absolute
	left -30px
	top -230px
	width 566px
	&--lg
		width 612px
		top -280px
	

// Earnings
.sect__earnings
	padding-bottom 130px

.sect__gallery
	padding-bottom 35px
	
.gallery
	margin-bottom 55px
	
	&__row
		margin-left -4px
		margin-right -4px
		
	&-btns
		&__row
			.or
				display inline-block
				margin 0 25px
				font-size 18px
				text-transform uppercase
				color #A449C7
				font-semibold()
	
.gallery-item
	display block
	width 100%
	border-radius 5px
	border-overflow()
	overflow hidden
	position relative
	padding-top 100%
	&__video
		&:before
			pseudo()
			position absolute
			top 9px
			left 9px
			z-index 1
			width 16px
			height 16px
			background url('../img/icons/svg/play.svg') 50% 50% no-repeat / 16px 16px
			border-radius 50%
			box-shadow 0px 0px 11px rgba(0, 0, 0, 0.25)
	img
		display block
		position absolute
		position-center()
		width 100%
		height 100%
		object-fit cover
		
	&__wrapper
		padding 4px
		width 25%
		

		
		


	
	



	

		